table :is(td, th) {
    border: 1px solid $darkest-color;
    padding: 0.3em;
}

table {    
    border-collapse: collapse;
    width: 100%;
}

thead {
    tr:nth-child(even) {
        background-color: lighten($dark-color, 10%);
    }
    
    tr:nth-child(odd) {
        background-color: lighten($dark-color, 5%);
    }
}

tr:nth-child(even) {
    background-color: lighten($dark-color, 5%);
}

tr:nth-child(odd) {
    background-color: lighten($dark-color, 10%);
}